<%= form_for @customer, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :FirstName, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :FirstName, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :LastName, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :LastName, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :PhoneNumber, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :PhoneNumber, :class => 'number_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                customers_path, :class => 'btn' %>
  </div>
<% end %>
