<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @review.Title %>
</p>

<p>
  <b>Description:</b>
  <%= @review.Description %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
